
.custom-modal{
    display: block;
    visibility: hidden;
  }
  
  .modal-show
  {
    visibility:visible;
    background-color: rgba(0, 0, 0, 0.45);
    transition: opacity 0.2s linear; 
  } 
  
  .custom-modal-content 
  {
    opacity: 1; 
  }
  
  .modal-show .custom-modal-content 
  {
    opacity: 1; 
    transition: 0.2s linear; 
  } 

  .event-detail-modal {
    width: 90%;
    max-width: 90%;
  }